<div class="row">
    <div class="col-12"> 
        <form class="navbar align-left" style="width: 100%;"> 
            
            <div class="form-row align-items-left">
                <div style="width: 100%;">
                    <h2>Gallup - hallintapaneeli</h2>
                </div>
              <div>
                <input [(ngModel)]="user" name="user" type="text" class="form-control" placeholder="käyttäjätunnus">
              </div>
              <div>
                <input [(ngModel)]="pass" name="pass" type="text" class="form-control" placeholder="salasana">
              </div>

              <div>
                <button (click)="login()" class="btn btn-primary">Kirjaudu</button>
              </div>
            </div>
          </form>
          </div>
          
</div>
<div class="row">

    <div class="col-12"> <!-- right-col -->

            <ul class="list-group">
                <li class="list-group-item">https://gallup.herokuapp.com/gallup will return JSON</li>
                <li class="list-group-item">https://gallup.herokuapp.com/answer will take .POST &#123; 'question_id' : INT, 'answer' : STRING &#125;</li>
                <li class="list-group-item">https://gallup.herokuapp.com/status will return the voting situation &#123;answer1: INT,answer2: INT,answer3: INT&#125;</li>
                <li class="list-group-item">https://gallup.herokuapp.com/allquestions</li>
                <li class="list-group-item">https://gallup.herokuapp.com/allanswers</li>
                <li class="list-group-item"><a href="http://miettii.net/juoja/testpage">Mallisivu!</a> Voi ottaa hetken jos heroku on nukkumas.</li>
                <li class="list-group-item">           
                   <div class="card" style="max-width:400px;">
                      <div class="card-body">
                        <h5 class="card-title">Kuva esimerkistä</h5>
                      </div>
                      <img class="card-img-top" src="assets\images\sample3.PNG">
                    </div>
                  </li>
                  <li class="list-group-item">           
                    <div class="card" style="max-width:760px;">
                       <div class="card-body">
                         <h5 class="card-title">Hallintapaneelin asetuksia</h5>
                       </div>
                       <img class="card-img-top" src="assets\images\sample4.PNG">
                     </div>
                   </li>
                   <li class="list-group-item">           
                    <div class="card" style="max-width:760px;">
                       <div class="card-body">
                         <h5 class="card-title">Esimerkki kuinka voisi toteuttaa komponentin</h5>
                       </div>
                       <img class="card-img-top" src="assets\images\sample1.PNG">
                     </div>
                   </li>
                   <li class="list-group-item">           
                    <div class="card" style="max-width:760px;">
                       <div class="card-body">
                         <h5 class="card-title">Esimerkki kuinka voisi toteuttaa komponentin</h5>
                       </div>
                       <img class="card-img-top" src="assets\images\sample2.PNG">
                     </div>
                   </li>

                   <li class="list-group-item">           
                    <div class="card" style="max-width:760px;">
                       <div class="card-body">
                         <h5 class="card-title">Serverin päässä tarkistusta kun äänestetään</h5>
                       </div>
                       <img class="card-img-top" src="assets\images\server_sample3.PNG">
                     </div>
                   </li>

                   <li class="list-group-item">           
                    <div class="card" style="max-width:760px;">
                       <div class="card-body">
                         <h5 class="card-title">SQL-komentoja</h5>
                       </div>
                       <img class="card-img-top" src="assets\images\server_sample2.PNG">
                     </div>
                   </li>

                   <li class="list-group-item">           
                    <div class="card" style="max-width:760px;">
                       <div class="card-body">
                         <h5 class="card-title">Serverin reittejä</h5>
                       </div>
                       <img class="card-img-top" src="assets\images\server_sample1.PNG">
                     </div>
                   </li>
            </ul>
                



    </div>
</div>