<div class="row">
    <div class="left-col"> <!-- ensimmäinen näkymä, left-col-->
        <h2>Gallup controlpanel</h2>
        <div class="form-group w-50">
            <label>Käyttäjätunnus</label>
            <input [(ngModel)]="user" type="text" class="form-control">
        </div>

        <div class="form-group w-50">
            <label>Salasana</label>
            <input [(ngModel)]="pass" type="text" class="form-control">
        </div>

        <button (click)="login()" class="btn btn-primary">Kirjaudu</button>
    </div>

    <div class="right-col d-flex justify-content-center"> <!-- right-col -->

            <ul class="list-group">
                <li class="list-group-item">/gallup will return JSON</li>
                <li class="list-group-item">/answer will take .POST &#123; 'question_id' : INT, 'answer' : STRING &#125;</li>
                <li class="list-group-item">/status will return the voting situation &#123;answer1: INT,answer2: INT,answer3: INT&#125;</li>
                <li class="list-group-item">/allquestions</li>
                <li class="list-group-item">/allanswers</li>
                <li class="list-group-item"><a href="http://miettii.net/juoja/testpage">Mallisivu!</a></li>
                <li class="list-group-item"><img src="..\assets\images\sample3.PNG"></li>
                <li class="list-group-item"><img src="..\assets\images\sample1.PNG"></li>
                <li class="list-group-item"><img src="..\assets\images\sample2.PNG"></li>
            </ul>
                
    </div>
</div>